{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}{% if create %}Create{% else %}Update{% endif %} chapter {% if not create %}{{ chapter.pk }}{% endif %}{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3">
                {% include '_account_nav.html' %}
            </aside>
            <div class="col-lg-9">
                {% include '_alerts.html' %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>{% if create %}Create{% else %}Update{% endif %} chapter {% if not create %}{{ chapter.pk }}{% endif %}</h5>
                    </div>
                    <div class="card-body">
                        <form method="post" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-primary" type="submit">{% if create %}Create{% else %}Update{% endif %}</button>
                            {% if not create %}<a class="btn btn-danger" href="{% url 'story:delete_chapter' story.pk chapter.pk %}">Delete</a>{% endif %}
                        </form>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}