{% extends "base.html" %}

{% block title %}Delete chapter{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <aside class="col-lg-3">
                <div class="card p-3 h-100">
                    <nav class="nav flex-column nav-pills"> 
                        <a class="nav-link" href="{% url 'profile' %}">My Profile</a>
                        <a class="nav-link active" href="{% url 'stories' %}">My Stories</a>
                        <a class="nav-link" href="{% url 'settings' %}">Settings</a>
                        <a class="nav-link" href="{% url 'logout' %}">Log out</a> 
                    </nav>
                </div>
            </aside>
            <div class="col-lg-9">
                {% include '_alerts.html' %}
                <div class="card mb-4">
                    <div class="card-header">
                        <h5>Delete Chapter</h5>
                    </div>
                    <div class="card-body">
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form }}
                            <p>Are you sure you want to delete the chapter, <strong>"{{ chapter.title }}"</strong> of the story <strong>"{{ story.title }}"</strong>?</p>
                            
                            <button class="btn btn-danger" type="submit">Delete</button>
                            <a class="btn btn-primary" href="{% url 'story:update_chapter' story.pk chapter.pk %}">Cancel</a>
                        </form>
                            
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% endblock %}