<div class="card p-3 mb-4">
    <nav class="nav flex-column nav-pills"> 
        <a class="nav-link {% url 'profile' as profile_url %}{% if request.get_full_path == profile_url %}active{% endif %}" href="{% url 'profile' %}">My Profile</a>
        <a class="nav-link {% url 'library' as library_url %}{% if request.get_full_path == library_url %}active{% endif %}" href="{% url 'library' %}">My Library</a>
        <a class="nav-link {% url 'user_stories' as user_stories_url %}{% if request.get_full_path == user_stories_url %}active{% endif %}" href="{% url 'user_stories' %}">My Stories</a>
        <a class="nav-link {% url 'settings' as settings_url %}{% if request.get_full_path == settings_url %}active{% endif %}" href="{% url 'settings' %}">Settings</a>
        <a class="nav-link" href="{% url 'logout' %}">Log out</a> 
    </nav>
</div>