{% extends "base.html" %}
{% block title %}Genres{% endblock %}

{% block content %}
<header class="bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="my-5">
                    <h1 class="fw-bolder text-white">Literature genres</h1>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container my-5">
    <div class="row gy-3">
        {% for genre in genres %}
        <div class="col-lg-3">
            {% include '_genre_list.html' %}
            </div>
        {% empty %}
            <p>No data available.</p>
        {% endfor %}
        {% include "_pagination.html" with page_obj=genres %}
    </div>
</section>

{% endblock %}