{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<header class="bg-dark py-3">
    <div class="container">
        <div class="row gx-5 align-items-center justify-content-center">
            <div class="col-9">
                <div class="my-5 text-center text-xl-start">
                    <h1 class="fw-bolder text-white mb-2">African Literature for African Readers</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Join fellow readers to access and download thousands of African works for your pleasure.</p>
                </div>
            </div>
            <div class="col-3 d-none d-xl-block text-center">
                
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container my-5">
        <div class="row gx-5">
            <div class="col-lg-8 col-xl-6">
                <h2 class="fw-bolder">Genres</h2>
                <p class="lead fw-normal text-muted mb-4">Browse different genres of African literature</p>
            </div>
        </div>
        <div class="row gy-3">
            {% for genre in genres %}
            {% include '_genre_list.html' %}
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="row gx-5">
            <div class="col-lg-8 col-xl-6">
                <h2 class="fw-bolder">Latest Books</h2>
                <p class="lead fw-normal text-muted mb-4">Browse latest books from African literature</p>
            </div>
        </div>
        <div class="row gy-3">
            {% for book in books %}
            {% include '_book_list.html' %}
            {% endfor %}
        </div>
    </div>
</section>

<section>
    <div class="container my-5">
        <div class="row gx-5">
            <div class="col-lg-8 col-xl-6">
                <h2 class="fw-bolder">Latest Stories</h2>
                <p class="lead fw-normal text-muted mb-4">Browse latest stories from registered users</p>
            </div>
        </div>
        <div class="row gy-3">
            {% for story in stories %}
            <div class="col-3">
                <div class="card border-0">        
                    <a href="{# url 'book_detail' book.id #}"> 
                        <img class="mb-2 card-img" height="330" width="220" src="{% if story.poster %}{{ story.poster.url }}{% else %}https://via.placeholder.com/220x330{% endif %}"> 
                        <span>{{ story.author.get_full_name|default:story.author|title }}</span>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}