{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<header class="bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="my-5">
                    <h1 class="fw-bolder text-white">African Literature for African Readers</h1>
                    <p class="lead fw-normal text-white-50">Join fellow readers to access and download thousands of African works for your pleasure.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container my-5">
    <div class="row">
        <div class="col-lg-8 col-xl-6">
            <h2 class="fw-bolder">Genres</h2>
            <p class="lead fw-normal text-muted mb-4">Browse different genres of African literature</p>
        </div>
    </div>
    <div class="row gy-3">
        {% for genre in genres %}
            <div class="col-lg-3">
            {% include '_genre_list.html' %}
            </div>
        {% empty %}
            <p>No data available.</p>
        {% endfor %}
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-lg-8 col-xl-6">
            <h2 class="fw-bolder">Latest Books</h2>
            <p class="lead fw-normal text-muted mb-4">Browse latest books from African literature</p>
        </div>
    </div>
    <div class="row gy-3">
        {% for book in books %}
            {% include '_book_list.html' %}
        {% empty %}
            <p>No data available.</p>
        {% endfor %}
    </div>
</section>

<section class="container my-5">
    <div class="row">
        <div class="col-lg-8 col-xl-6">
            <h2 class="fw-bolder">Latest Stories</h2>
            <p class="lead fw-normal text-muted mb-4">Browse latest stories from registered users</p>
        </div>
    </div>
    <div class="row gy-3">
        {% for story in stories %}
        <div class="col-lg-3 col-md-6">
            <div class="card shadow border-0 mb-4">
                <a href="{{ story.get_absolute_url }}">
                    <img src="{{ story.poster.url }}" class="card-img-top" height="350" alt="{{ story.title }}">
                </a>
                <div class="card-body">
                    <div class="h5">
                        <a href="{{ story.get_absolute_url }}" class="text-decoration-none">{{ story.title }}</a>
                    </div>
                    <p>By: {{ story.author.get_full_name|default:story.author|title }}</p>
                </div>
            </div>
        </div>
        {% empty %}
            <p>No data available.</p>
        {% endfor %}
    </div>
</section>

{% endblock %}