{% extends "base.html" %}
{% load humanize %}
{% block title %}Profile{% endblock %}

{% block content %}

<section class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                {% include '_account_nav.html' %}
            </div>
            <div class="col-lg-9">
                {% include '_alerts.html' %}
                <div class="card mb-4">
                    <div class="card-body">
                    	<header class="d-md-flex">
                            <div class="flex-shrink-0">
                                <img class="rounded-circle" height="50px" width="50px" src="{% if request.user.profile.avatar %}{{ request.user.profile.avatar.url }}{% else %}https://via.placeholder.com/50x50{% endif %}" alt="User">
                            </div>
                            <div class="flex-grow-1 ms-3">
                                <h5 class="m-0">{{ request.user.get_full_name|default:request.user.username|title }}</h5>
                                <small class="text-italics">Registered {{ request.user.date_joined|naturalday }}</small>
                            </div>
                            <div> 
                                <a href="{% url 'settings' %}" class="btn btn-sm btn-outline-primary">Edit Profile</a>
                            </div>
                        </header>
                    </div>
                    <div class="card-footer">
                        <h6>About me</h6>
                        {% if request.user.profile.bio %}
                            {{ request.user.profile.bio|linebreaks }}
                        {% else %}
                            <a href="{% url 'settings' %}">Add bio</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}