{% extends "base.html" %}
{% block title %}Request for a Book{% endblock %}

{% block content %}
<header class="bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="my-5">
                    <h1 class="fw-bolder text-white mb-2">Request for a Book</h1>
                    <p class="lead fw-normal text-white-50 mb-4">Send us information on a book you'll like to see uploaded below.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container my-5">
    <div class="row">
        <div class="col-7 mx-auto">
            {% include '_alerts.html' %}
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-success">Send</button> 
                        <a href="{% url 'home' %}" class="btn btn-light">Cancel </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}