{% extends "base.html" %}
{% block title %}Stories{% endblock %}

{% block content %}
<header class="bg-dark py-3">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="my-5">
                    <h1 class="fw-bolder text-white">Member stories</h1>
                    <p class="lead fw-normal text-white-50">Find stories written by members of the site for your reading pleasure.</p>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container my-5">
    <div class="row gy-3">
        {% for story in stories %}
        <div class="col-lg-3">
            {% include '_story_list.html' %}
            </div>
        {% empty %}
            <p>No data available.</p>
        {% endfor %}
        {% include "_pagination.html" with page_obj=stories %}
    </div>
</section>

{% endblock %}